/* Common Styles */
body {
  position: relative;

  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;  
}

.container {
  text-align: center;
  vertical-align: middle;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;  
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main-content {
  position: relative;
  background-color: #ffffff;
  
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0px 5px 12px 0 rgba(0, 1, 1, 0.2);
}

.important-content {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Header */
.header {
  background-color: #ffffff;
}

.logo {
  position: absolute;
  z-index: 1;
  
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  list-style: none;

  padding-left: 72px;
  padding-right: 72px;
  margin: 0;
}

.site-navigation li {
  box-sizing: border-box;
  
  width: 235px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(3) {
  margin-left: 93px;
  text-align: right;
}

.site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation a {
  font: inherit;
  line-height: 26px;
  font-weight: 700;  
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.active-page {
  color: #766357;
}

/* Main */
.banner { 
  position: relative;
   
  height: 432px;
  padding-top: 76px;
  
  background-image: url("../img/top-background-photo.jpg");
  background-position: cover;
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.banner::before {
  content: "";
    
  position: absolute; 

  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;   
  
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.index-mask {  
  box-sizing: border-box;
  
  text-align: center;

  padding-top: 59px;
  padding-left: 356px;
  padding-right: 356px;
  padding-bottom: 51px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 24px;  
}

h1.important-content {
  margin: 0;
}

.reasons {
  line-height: 26px;

  margin-top: 29px;
  margin-bottom: 0;
}

.hotels-results {
  margin-top: 0;
  padding-bottom: 120px;
  
  background-color: #ffffff;
}

.hotels-list {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.hotels-list li {
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  flex-wrap: wrap;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
}

.hotels-list li:first-child {
  border-top: 1px solid #e5e5e5;
}

/* Advantages Section */
.advantages-list {
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  margin: 0;

  padding: 0;

  list-style: none;
}

.page-titles {
  width: 151px;  
  line-height: 21px;
  margin: auto;  
}

.sights {
  color: #ffffff;

  background-color: #81b3d2;
}

.other-advantages {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  color: #000000;

  list-style: none;
  
  background-color: #ffffff;
}

.number,
.description {
  line-height: 21px;
  margin: 0;
  margin-top: 22px;
}

.town {
  background-image: url("../img/background-for-list1.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

.sedona-town {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 62px;
  padding-right: 860px;
  padding-left: 60px;
}

.devil-bridge {
  text-align: center;

  padding-top: 46px;
  padding-right: 49px;
  padding-left: 848px;
  padding-bottom: 61px;
  
  background-image: url("../img/background-for-list2.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.devil-bridge .description {
  margin-top: 22px;
}

.misc {
  width: 400px;
  padding: 50px;
  padding-top: 160px;
  padding-bottom: 83px;

  text-align: center;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center 60px;
}

.misc .description {
  margin-top: 25px;
}

.accommodation {
  background-image: url("../img/icon-1.svg");
  background-position: center 59px;  
}

.cuisine {
  background-image: url("../img/icon-3.svg");
}

.souvenirs {
  padding-left: 64px;
  padding-right: 64px;

  background-image: url("../img/icon-2.svg");
  background-position: center 55px;
}

.more-advantages {
  display: flex;
  flex-wrap: wrap;
}

.more-advantages li {
  width: 400px;
  padding: 65px;
  padding-top: 47px;
  padding-bottom: 60px;
  text-align: center;
  box-sizing: border-box;
  background-color: #eeeeee;
}

li.fifth-description {
  padding-left: 71px;
  padding-right: 71px;
}

.more-advantages .description {
  margin-top: 22px;
}

/* Filter Section */
.filter-list {  
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.selection-form {
  display: flex;
  flex-wrap: wrap;
}

.fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  border: none;
}

.filters {
  padding-top: 26px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 30px;

  background-image: url("../img/filter-background.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.lodging {
  margin-left: 119px;
}

.price-selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  margin-left: auto;
  padding-left: 6px;
}

.cost-range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  position: relative;

  height: 36px;
  width: 318px;
  box-sizing: border-box;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-range::before {
  content: "";
  height: 23px;
  border-left: 2px solid #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} 

.cost-range .cost-item {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.legend {
  margin-bottom: 22px;

  font-size: 16px;
  font-weight: 700;

  color: #ffffff;
}

.price-per-day {
  margin-bottom: 9px;
}

.label-cost-from {
  margin-left: 23px;
}

.price-selection .fieldset {
  margin-bottom: 20px;
}

/* String Here */
.range-controls {
  position: relative;

  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/* Checkbox Styles */
.checkbox:focus + .checkbox-svg {
  outline: 2px solid #0000ff;
}

.filter-list li {  
  margin-bottom: 22px;
}

.filter-list li:last-child {
  margin-bottom: 0;
}

.label {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;   
}

.checkbox-svg {
  margin-right: 12px;
}

.label-cost {
  color: #ffffff;
}

.not-checked {
  visibility: visible;
}

.is-checked {
  visibility: hidden;
}

.checkbox:checked + .checkbox-svg > .not-checked {  
  visibility: hidden;
}

.checkbox:checked + .checkbox-svg > .is-checked {
  visibility: visible;
}

.checkbox:disabled + .checkbox-svg > .not-checked {
  fill: #6a6a6a;
}

.checkbox:disabled + .checkbox-svg > .is-checked {
  fill: #6a6a6a;
}

/* Filter Button */
.filter-button {
  align-self: center;

  font: inherit;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  width: 138px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  margin-right: 10px;
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Filter Inputs */
.filter-input {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  width: 40px;

  background-color: transparent;
  border: none;
}

/* Sorting Section */
.sorting {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 72px;
  padding-right: 72px;
  
  background-color: #ffffff;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  width: 238px;
  margin-left: 40px;
  padding: 0;

  list-style: none;
}

.sort-type {
  margin-left: 47px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: #81b3d2;
  border-bottom-color: #81b3d2;
}

.sorting-list a:active {
  border: none;
  color: #000000;
}

a.active-sort {
  border: none;
  color: #81b3d2;
}

.sort-icon:first-of-type {
  margin-left: auto;
}

.sort-icon path {
  fill: #cacaca;
}

.sort-icon:hover path {
  fill: #231f20;
}

.sort-icon:active path {
  fill: #81b3d2;
}
a.active-icon {
  margin-left: 14px;
}

a.active-icon path {
  fill: #81b3d2;
}

/* Links inside the Section */
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-link {
  display: block;

  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 27px;
}

.more-info {
  width: 110px;
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking {
  width: 140px;
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/* Search Results */
.hotels-list img {
  width: 135px;
  height: 90px;
}

.search-result {
  width: 100%;
}

.full-info {
  margin-top: -3px;
  margin-left: 30px;
}

.rating-info {
  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  height: 90px;
}

.info-line-one,
.info-line-two {
  display: flex;
  flex-wrap: wrap;
}

.info-line-one {
  margin-top: 9px;
}

.info-line-two {
  margin-top: 12px;
}

.type,
.price {
  margin: 0;
  width: 110px;
}

.price,
.booking {
  margin-left: 7px;
}

.rating {
  width: 110px;
  line-height: 27px;
  text-align: center;
  
  margin: 0;

  color: #666666;
  background-color: #f2f2f2;
}

/* Stars */
.stars {
  margin: 0;
  height: 17px;
  background-image:  url("../img/star.svg");
  background-repeat: space;
}
.five-stars {
  width: 108px; 
}

.four-stars {  
  width: 89px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 41px;
}

.one-star {
  width: 18px;
}

/* Index Form */
.btn {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.book-btn {
  height: 86px;
  width: 566px;
  margin-top: 34px;
  
  background-color: #766357;
}

.book-btn:hover {  
  background-color: #604e43;  
}

.book-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;  
}

.form-section {
  position: relative;

  padding-top: 50px;
}

.form-window {
  position: absolute;
  display: block;

  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0px 5px 12px 0 rgba(0, 1, 1, 0.2);
}

/* Index Form Itself*/
.index-form {
  display: flex;
  flex-direction: column;  
  
  padding: 55px;
  width: 456px;
  
  font-weight: 700;
  
  background-color: #ffffff;
}

/* Input Styles */
.form-item {
  display: flex;
  align-items: center;

  height: 38px;  
  margin-bottom: 29px;  
}

.form-item label {
  width: 115px;
}

.form-item input {
  font: inherit; 
  text-transform: uppercase;

  box-sizing: border-box;

  padding: 13px;
  height: 100%;
  width: 320px;

  background-color: #f2f2f2;
  border: none;
}

.form-item input:focus {  
  background-color: transparent;  
  border: 2px solid #e5e5e5;  
  outline: none;
}

.form-item input:hover {  
  background-color: #ebebeb;  
}

/* Adults & Kids Inputs Style */
.selection-field {
  display: flex;
  justify-content: space-between;  
}

.form-item .select-input {   
  width: 38px;
  height: 38px;

  text-align: center;
}

.adults-item {  
  width: 221px;
}

.kid-item {  
  width: 175px;
}

.kid-item label {
  width: 65px;
}

/* Form Buttons */
.form-btn { 
  position: relative;   
  height: 38px;
  width: 38px;

  color: #a9a9a9;
  background-color: #f2f2f2;  
}

.form-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-btn > svg > path {
  fill: #cacaca;
}

.form-btn:hover {  
  color: #000000;    
}

.form-btn:hover > svg > path {  
  fill: #000000;    
}

.form-btn:active {  
  color: #81b3d2;     
}

.form-btn:active > svg > path {  
  fill: #81b3d2;   
}

.search-btn {
  margin-top: 25px;  
  
  height: 58px;

  background-color: #81b3d2;  
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd; 
}

.map {
  line-height: 0;
}

/* Footer */
.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  height: 120px;
  padding-left: 132px;
  padding-right: 100px;
  padding-top: 36px;
  padding-bottom: 32px;

  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  margin: 0;
}

/* Social Hyperlinks */
.socials {
  margin: 0;
  margin-left: 169px;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.socials a {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;

  margin-right: 6px;
  
  background-color: #81b3d2;
}

.socials a:hover {
  background-color: #669ec0;
}

.socials a:active {
  background-color: #5496bd;
}

.social::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.social-twitter::before {   
  background-image: url("../img/twitter.svg");
    
}

.social-facebook::before {    
  background-image: url("../img/fb-icon.svg");  
}

.social-youtube::before {   
  background-image: url("../img/youtube.svg");  
}

.social-twitter:active::before,
.social-facebook:active::before,
.social-youtube:active::before {
  opacity: 0.3;
}

/* Copyright Logo */
.copyright-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  width: 197px;
  margin-left: auto;
}

.copyright-section p {
  margin: 0;
}

.copyright > svg {
  vertical-align: middle;
}

.copyright path,
.copyright rect {
  fill: #231f20;
}

.copyright:hover path,
.copyright:hover rect {
  fill: #81b3d2;
}

.copyright:active path,
.copyright:active rect {
  fill: #bdbbbc;
} 