/* Common Styles */
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;  
}

.container {
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.important-content {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Header */
.header {  
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.active-page {
  color: #766357;
}

/* Main */
.index-greeting {  
  background-image: url("../img/top-background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.banner {
  position: relative;
}

.banner::after {
  content: url("../img/intro-mask.svg");
  position: absolute;
  width: 1200px;
  height: 59px;
  top: 300px;
  left: 227px;  
}

.index-mask {
  background-color: #ffffff;
}

.open-form {
  background-color: #ffffff;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hotels-list {
  background-color: #ffffff;
}

/* Filter Section */
.filter-section {
  background-image: url("../img/filter-background.jpg");
  background-position: top center; 
  background-repeat: no-repeat;
}

.filter-list {
  list-style: none;
}

.selection-form fieldset {
  border: none;
}

.legend {
  font-size: 16px;  
  font-weight: 700;

  color: #ffffff;
}

/* Checkbox Styles draft*/
.checkbox {  /* Это правило доступно скрывает флаг чекбокса (взято из материалов HTML Academy) + увеличивает его область, чтобы она примерно соответствовала кастомному чекбоксу. Необходимо для доступности */
  -webkit-appearance: none;
  -moz-appearance: none;  
  -ms-appearance: none;  /* Does not work in IE11, while I'm trying to make the UI accessible. Edge is fine */
  appearance: none;
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari & Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;   
}

.filter-list li {
  position: relative;
  margin-bottom: 20px;
  
}

.label {
  position: absolute;
  left: 42px;
  margin-top: 1px;
  display: inline-block;   
  vertical-align: middle;

  color: #ffffff;
  
}

.label-cost {
  color: #ffffff;
}

.checkbox {
  margin-top: 2px;
  margin-left: 2px;
}

.checkbox-svg {
  position: absolute;
  left: 0px;  
}

.not-checked {
  visibility: visible;
}

.is-checked {
  visibility: hidden;
}

.checkbox:checked + svg > .not-checked {  
  visibility: hidden;
}

.checkbox:checked + svg > .is-checked {
  visibility: visible;
}

.checkbox:disabled + svg > .not-checked {
  fill: #6a6a6a;
}

.checkbox:disabled + svg > .is-checked {
  fill: #6a6a6a;
}

/* Filter Button */
.filter-button {
  font: inherit;

  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Filter Inputs */
.filter-input {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

/* Sorting Section */
.sorting {
  background-color: #ffffff;
}

.sorting-list {
  list-style: none;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: #81b3d2;
  border-bottom-color: #81b3d2;
}

.sorting-list a:active {
  border: none;
  color: #000000;
}

a.active-sort {
  border: none;
  color: #81b3d2;
}

.sort-icon path {
  fill: #cacaca;
}

.sort-icon:hover path {
  fill: #231f20;
}

.sort-icon:active path {
  fill: #81b3d2;
}

a.active-icon path {
  fill: #81b3d2;
}

/* Links inside the Section */
.more-info {
  display: table-cell;
  width: 110px;
  height: 25px;

  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;  
  
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking {
  display: table-cell;
  width: 140px;
  height: 25px;

  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;  
  
  background-color: #766357;
}

.booking:hover {
  background-color: #604e43;
}

.booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  display: table-cell;
  width: 110px;
  height: 27px;
  text-align: center;
  vertical-align: middle;

  color: #666666;
  background-color: #f2f2f2;
}

/* Stars */
.stars {
  height: 17px;
  background-image:  url("../img/star.svg");
}
.five-stars {
  width: 90px; 
}

.four-stars {  
  width: 72px; 
}

.three-stars {
  width: 54px;  
}

.two-stars {
  width: 36px;  
}

.one-stars {
  width: 18px;  
}

/* Index Form */
.btn {
  font: inherit;

  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.book-btn { 
  background-color: #766357;  
}

.book-btn:hover {  
  background-color: #604e43;  
}

.book-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;  
}

/* Index Form CSS code here */

.search-btn {  
  background-color: #81b3d2;  
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd; 
}

/* Footer */
.footer {
  background-color: #ffffff;
}

/* Social Hyperlinks */
.socials {
  list-style: none;
}

.socials a {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  
  background-color: #81b3d2;
}

.socials a:hover {
  background-color: #669ec0;
}

.socials a:active {
  background-color: #5496bd;
}

.social::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.social-twitter::before {
  content: "";  
  background-image: url("../img/twitter.svg");
    
}

.social-facebook::before {
  content: "";  
  background-image: url("../img/fb-icon.svg");  
}

.social-youtube::before {
  content: "";  
  background-image: url("../img/youtube.svg");  
}

.social-twitter:active::before,
.social-facebook:active::before,
.social-youtube:active::before {
  opacity: 0.3;
}

/* Copyright Logo */
.copyright path,
.copyright rect {
  fill: #231f20;
}

.copyright:hover path,
.copyright:hover rect {
  fill: #81b3d2;
}
/* Active state does not work in IE */
.copyright:active path,
.copyright:active rect {
  fill: #bdbbbc;
}